<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.companyhouse.mapper.CompatibilityMapper">

    <update id="bulkUpsertCompatibilities">
        INSERT INTO compatibility_of_childcare_and_work (
        merge_key,
        number_of_paternity_leave,
        number_of_maternity_leave,
        paternity_leave_acquisition_num,
        maternity_leave_acquisition_num
        ) VALUES
        <foreach collection="list" item="e" separator=",">
            (
            #{e.mergeKey},
            #{e.numberOfPaternityLeave},
            #{e.numberOfMaternityLeave},
            #{e.paternityLeaveAcquisitionNum},
            #{e.maternityLeaveAcquisitionNum}
            )
        </foreach>
        ON CONFLICT (merge_key) DO NOTHING
    </update>

    <select id="findCompatibilityIdByMergeKey" resultType="java.lang.Long">
        SELECT compatibility_of_childcare_and_work_id
        FROM compatibility_of_childcare_and_work
        WHERE merge_key = #{mergeKey}
    </select>

    <select id="findCompatibilityIdsByMergeKeys"
            resultType="com.java.companyhouse.model.solved.MergeKeyIdDto">
        SELECT merge_key AS mergeKey, compatibility_of_childcare_and_work_id AS id
        FROM compatibility_of_childcare_and_work
        WHERE merge_key IN
        <foreach collection="list" item="mk" open="(" separator="," close=")">
            #{mk}
        </foreach>
    </select>

</mapper>