<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.companyhouse.mapper.CompanyMapper">

    <update id="upsertCompany">
        INSERT INTO company (corporate_number, name, kana, name_en, postal_code,
                             location, process, aggregated_year, status, close_date,
                             close_cause, kind, representative_name, capital_stock,
                             employee_number, company_size_male, company_size_female,
                             business_summary, company_url, founding_year,
                             date_of_establishment, qualification_grade)
        VALUES (#{corporateNumber}, #{name}, #{kana}, #{nameEn}, #{postalCode},
                #{location}, #{process}, #{aggregatedYear}, #{status},
                #{closeDate}::date, #{closeCause}, #{kind}, #{representativeName},
                #{capitalStock}, #{employeeNumber}, #{companySizeMale},
                #{companySizeFemale}, #{businessSummary}, #{companyUrl},
                #{foundingYear}, #{dateOfEstablishment}::date, #{qualificationGrade})
        ON CONFLICT (corporate_number) DO UPDATE SET name                  = EXCLUDED.name,
                                                     kana                  = EXCLUDED.kana,
                                                     name_en               = EXCLUDED.name_en,
                                                     postal_code           = EXCLUDED.postal_code,
                                                     location              = EXCLUDED.location,
                                                     process               = EXCLUDED.process,
                                                     aggregated_year       = EXCLUDED.aggregated_year,
                                                     status                = EXCLUDED.status,
                                                     close_date            = EXCLUDED.close_date,
                                                     close_cause           = EXCLUDED.close_cause,
                                                     kind                  = EXCLUDED.kind,
                                                     representative_name   = EXCLUDED.representative_name,
                                                     capital_stock         = EXCLUDED.capital_stock,
                                                     employee_number       = EXCLUDED.employee_number,
                                                     company_size_male     = EXCLUDED.company_size_male,
                                                     company_size_female   = EXCLUDED.company_size_female,
                                                     business_summary      = EXCLUDED.business_summary,
                                                     company_url           = EXCLUDED.company_url,
                                                     founding_year         = EXCLUDED.founding_year,
                                                     date_of_establishment = EXCLUDED.date_of_establishment,
                                                     qualification_grade   = EXCLUDED.qualification_grade,
                                                     updated_at            = now()
        WHERE (
               company.name,
               company.kana,
               company.name_en,
               company.postal_code,
               company.location,
               company.process,
               company.aggregated_year,
               company.status,
               company.close_date,
               company.close_cause,
               company.kind,
               company.representative_name,
               company.capital_stock,
               company.employee_number,
               company.company_size_male,
               company.company_size_female,
               company.business_summary,
               company.company_url,
               company.founding_year,
               company.date_of_establishment,
               company.qualification_grade
                  ) IS DISTINCT FROM (
                                      EXCLUDED.name,
                                      EXCLUDED.kana,
                                      EXCLUDED.name_en,
                                      EXCLUDED.postal_code,
                                      EXCLUDED.location,
                                      EXCLUDED.process,
                                      EXCLUDED.aggregated_year,
                                      EXCLUDED.status,
                                      EXCLUDED.close_date,
                                      EXCLUDED.close_cause,
                                      EXCLUDED.kind,
                                      EXCLUDED.representative_name,
                                      EXCLUDED.capital_stock,
                                      EXCLUDED.employee_number,
                                      EXCLUDED.company_size_male,
                                      EXCLUDED.company_size_female,
                                      EXCLUDED.business_summary,
                                      EXCLUDED.company_url,
                                      EXCLUDED.founding_year,
                                      EXCLUDED.date_of_establishment,
                                      EXCLUDED.qualification_grade)
    </update>

</mapper>