<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.companyhouse.mapper.CompatibilityMapper">

    <update id="upsertCompatibility">
        INSERT INTO compatibility_of_childcare_and_work (merge_key,
                                                         number_of_paternity_leave,
                                                         number_of_maternity_leave,
                                                         paternity_leave_acquisition_num,
                                                         maternity_leave_acquisition_num)
        VALUES (#{mergeKey},
                #{numberOfPaternityLeave},
                #{numberOfMaternityLeave},
                #{paternityLeaveAcquisitionNum},
                #{maternityLeaveAcquisitionNum})
        ON CONFLICT (merge_key) DO UPDATE SET number_of_paternity_leave       = EXCLUDED.number_of_paternity_leave,
                                              number_of_maternity_leave       = EXCLUDED.number_of_maternity_leave,
                                              paternity_leave_acquisition_num = EXCLUDED.paternity_leave_acquisition_num,
                                              maternity_leave_acquisition_num = EXCLUDED.maternity_leave_acquisition_num
        WHERE (
               compatibility_of_childcare_and_work.number_of_paternity_leave,
               compatibility_of_childcare_and_work.number_of_maternity_leave,
               compatibility_of_childcare_and_work.paternity_leave_acquisition_num,
               compatibility_of_childcare_and_work.maternity_leave_acquisition_num
                  ) IS DISTINCT FROM (
                                      EXCLUDED.number_of_paternity_leave,
                                      EXCLUDED.number_of_maternity_leave,
                                      EXCLUDED.paternity_leave_acquisition_num,
                                      EXCLUDED.maternity_leave_acquisition_num
            )
    </update>

</mapper>