<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.companyhouse.mapper.CompatibilityMapper">

    <update id="upsertCompatibility">
        INSERT INTO compatibility_of_childcare_and_work (merge_key,
                                                         number_of_paternity_leave,
                                                         number_of_maternity_leave,
                                                         paternity_leave_acquisition_num,
                                                         maternity_leave_acquisition_num)
        VALUES (#{mergeKey},
                #{numberOfPaternityLeave},
                #{numberOfMaternityLeave},
                #{paternityLeaveAcquisitionNum},
                #{maternityLeaveAcquisitionNum})
        ON CONFLICT (merge_key) DO NOTHING
    </update>

    <select id="findCompatibilityIdByMergeKey" resultType="java.lang.Long">
        SELECT compatibility_of_childcare_and_work_id
        FROM compatibility_of_childcare_and_work
        WHERE merge_key = #{mergeKey}
    </select>
</mapper>